body {
  background: #e5ddc8;
  margin: 0 auto;

  color: hsl(195, 80%, 45%);
  color-scheme: dark light;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 50%;
}

.rubik-font {
  font-family: "Rubik", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

h1 {
  background: linear-gradient(90deg, #01949a, #004369) text;
  color: transparent;
  font-weight: 500 !important;
  font-size: 3rem;
}

.center-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
}

.w-220 {
  max-width: 220px;
}

.flex-content {
  display: flex;
  gap: 0.5rem;
  flex-wrap: wrap;
  * {
    flex-grow: 1;
    flex-basis: 40%;
  }
}

button {
  width: 100%;
  border-radius: 8px;
  padding: 0.6rem;
  outline: none;
  border-width: 0;

  font-family: inherit;
  font-optical-sizing: inherit;
  font-weight: inherit;
  font-style: inherit;

  &:hover {
    cursor: pointer;
  }
}

#successTest {
  background: #14b845;
}
#errorTest {
  background: #b81414;
}
#infoTest {
  background: #628bee;
}
#warningTest {
  background: #c8a20f;
}
#customTest {
  background: #232627;
}
